server:
  port: 8083
  error:
    include-message: always

logging:
  level:
    org:
      springframework:
        web: DEBUG
        security: DEBUG

spring:
  application:
    name: document-service
  profiles:
    active: local
  cloud:
    discovery:
      enabled: true