<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document Reverted Notification</title>
</head>
<body>
<p>Hello <span th:text="${recipientName}">User</span>,</p>
<p>
    <strong th:text="${triggerUser}">User</strong> has
    reverted the document <strong th:text="${documentTitle}">Document</strong>
    to version <span th:text="${revertedToVersion}">1</span>.
</p>
<p>
    <a th:href="@{${baseUrl} + '/documents/' + ${documentId}}">Click here</a> to view the reverted version.
</p>
<p>
    Best regards,<br/>
    DMS Team
</p>
</body>
</html>